@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #2B6777;
    --color-accent: #52AB98;
    --color-highlight: #C8D8E4;
    --color-neutral: #F2F2F2;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .font-heading {
    font-family: 'Poppins', sans-serif;
  }
}